.crypto1 {
  border: 1px solid #353a44;
  width: 200px;
  min-height: 150px;
  border-radius: 10px;
  margin: 20px;
}
.crypto1-1 {
  background-image: linear-gradient(
    to right top,
    #f0f00a,
    #f6dd00,
    #f9c900,
    #fab600,
    #f9a302
  );

  box-shadow: 0 0 2px #fff, 0 0 5px #eeea18, 0 0 3px #c4e600, 0 0 2px #e6bc00,
    0 0 3px #e6bc00, 0 0 5px #e6bc00;

  width: 200px;
  min-height: 150px;
  border-radius: 10px;
  margin: 20px;
}
.crypto2 {
  border: 1px solid #353a44;
  width: 200px;
  min-height: 150px;
  border-radius: 10px;
  margin: 20px;
}
.crypto2-2 {
  background-image: linear-gradient(
    to right top,
    #f514ff,
    #df0cfa,
    #c806f4,
    #b003ee,
    #9803e7
  );

  box-shadow: 0 0 2px #fff, 0 0 5px #de00e6, 0 0 3px #b800e6, 0 0 2px #e600c0,
    0 0 3px #d300e6, 0 0 5px #e600c7;

  width: 200px;
  min-height: 150px;
  border-radius: 10px;
  margin: 20px;
}
.crypto3 {
  border: 1px solid #353a44;
  width: 200px;
  min-height: 150px;
  border-radius: 10px;
  margin: 20px;
}

.crypto3-3 {
  background-image: linear-gradient(
    to right top,
    #00b3f2,
    #0098fe,
    #0078ff,
    #0052fe,
    #1703e7
  );

  box-shadow: 0 0 2px #fff, 0 0 5px #0073e6, 0 0 3px #0073e6, 0 0 2px #0073e6,
    0 0 3px #0073e6, 0 0 5px #0073e6;
  width: 200px;
  min-height: 150px;
  border-radius: 10px;
  margin: 20px;
}
