.container {
  display: flex;
  flex-direction: row;
}
.first {
  display: flex;
  flex-direction: column;
}
.chart {
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 100%;
  height: 500px;
}
.info3 {
}
.info4 {
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 100%;
  height: 300px;
}
.second {
  display: flex;
  flex-direction: row;
}
.info2 {
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 100%;
  height: 100%;
}
.info {
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 100%;
  height: 100%;
}
