.container {
  display: flex;
  flex-direction: row;
}
.chart {
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 70%;
  min-height: 500px;
}
.info {
  position: relative;
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 280px;
  min-height: 700px;
  margin-left: 5px;
}

.info2 {
  position: relative;
  background-image: linear-gradient(to right top, #13182e, #1c2440);
  width: 280px;
  min-height: 700px;
  margin-left: 5px;
}
